@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')

$font-family: 'Poppins'


body 
  font-family: $font-family


.card


.holder2
  background-color: #FFFFFF
  padding: 20px
  border-radius: 10px

  .holder
    background-color: #F4F6FC
    border-radius: 10px
    padding: 30px
    width: 500px !important

    textarea

      width: 500px
      height: 200px

      background-color: #F4F6FC
      color: #8798AD
      font-family: $font-family
      font-size: 15px
      border: none
      outline: none
      resize: none
      scrollbar-width: none
    
  .holder-green
    background-color: #e3f5e7
    color: #8798AD
    border-radius: 10px
    padding: 30px
    width: 500px !important
    transition: 0.3s
    
  .test
    height: 200px !important

    //background-color: #F4F6FC
    color: #8798AD
    font-family: $font-family
    font-size: 15px
    border: none
    outline: none
    scrollbar-width: none

    textarea::-webkit-scrollbar
      width: 0px
    



.slick-track
  display: flex !important

.slick-slide
  //border: 2px dashed #F69C55
  display: flex !important
  flex-direction: column
  height: auto !important

  .input
    background-color: #F4F6FC
    border: 2px solid #F4F6FC
    border-radius: 10px
    box-sizing: border-box
    display: flex !important
    margin: 0 auto
    width: 95% !important
    height: 100vh !important
    max-height: 120px !important
    padding: 20px

    transition: 0.2s
    &:hover
      border: 2px solid #d0d0d1
    
    &:active
      border: 2px solid white
  
    p
      align-self: center
      //background-color: #FBFB00 !important
      color: #8798AD
      font-size: 85%
      font-family: 'Poppins'
      margin: 0 auto
      max-height: 8em
      line-height: 1.5em
      display: -webkit-box
      overflow: hidden
      text-overflow: ellipsis
      -webkit-box-orient: vertical
      -webkit-line-clamp: 4
      

.slick-slide
  //box-sizing:  border-box
  //padding: 10px
  //text-align: left
  //border: 2px dashed #f69c55
  //align-self: center 
  //transition: 0.1s
  //display: flex !important
  //justify-content: center 
  //margin: 10px
  //height: inherit !important
  

  &:hover
    //border: 2px solid aqua

  div
    //box-sizing: border-box
    //display: inline-flex
    //background: red
    //margin: 10px
    //padding: 5%
    //width: 60%
    //margin: 10px 0px 10px 0px
    //height: 100%

.holder2
  margin: 20px
  position: relative

  .button-test
    position: absolute
    border: none
    color: white
    background-color: #3772FF
    font-weight: bold
    font-size: 15px
    border-radius: 40px
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25)
    bottom: 40px
    right: 40px
    width: 50px
    height: 50px
    transition: 0.1s

    &:hover
      selft-align: center


.holder3
  background-color: #FFFFFF
  padding: 20px
  border-radius: 10px
  //height: 200px !important
  position: relative

  .bg-grey
    //position: relative
    height: 100px !important
    //width: 200px
    background-color: #F4F6FC
    border-radius: 10px
    padding: 30px
    width: 500px !important
    //height: 200px !important
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

  .bg-green
    height: 100px !important
    background-color: #E6F0E7
    color: #8798AD
    border-radius: 10px
    padding: 30px
    width: 500px !important
    transition: 0.3s
    display: flex
    flex-direction: column
    align-items: left
    justify-content: center
    text-align: left

  .bg-yellow
    height: 100px !important
    background-color: #FFD6DC
    color: #8798AD
    border-radius: 10px
    padding: 30px
    width: 500px !important
    transition: 0.3s
    display: flex
    flex-direction: column
    align-items: left
    justify-content: center
    text-align: center
    
  .test
    //height: 200px !important
    //text-align center
    //background-color: #F4F6FC
    color: #8798AD
    font-family: $font-family
    font-size: 15px
    border: none
    outline: none
    scrollbar-width: none

    textarea::-webkit-scrollbar
      width: 0px

